body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#hero {
  position: relative;
  height: 750px;
  overflow: hidden;

  background-image: url('bg@2x.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  position: absolute;
  right: 0;
  left: 0;
  top: 15em;
  padding: 1em;
  margin: auto;
  width: 300px;
  text-align: center;
  background: rgba(0,0,0,0.25);
  color: white;
}